@import '../mixins.scss';

.navigation__menu-item-link {
    color: $link_color;
    text-decoration: none;
}
.navigation__menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.navigation__menu-item{
    list-style: none;
    margin: 10px;
    @include rotate(0deg);
}

.header__navigation {
    background: black;
    width: 100%;
}

.navigation__menu-item {
    &.navigation__menu-item-link--special {
        text-decoration: underline;
    }
  }
  .navigation__menu-item{
    &:visited {color:green;}
    &:hover { color: yellow;}
    &:active { color: aqua;}
  }
 