@import '../mixins.scss';

.navigation {

    &__menu{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    &__menu-item {
        list-style: none;
        margin: 10px;

        &-link {
            color: $link_color;
            text-decoration: none;

            &:hover { 
                color: yellow;
            }

            &:active {
                 color: aqua;
            }

            &--blue {
                text-decoration: underline;
                color: $link_color_special;
            }
        }
    }
}

